<html>
<head>
  <title>Warshah</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/sideNav.css" />

  <!-- script link -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
 <!--   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
   <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script> -->

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>
  <script src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"</script> -->
  <script src="navScript.js"></script>
  <script src="/app/services/services.js"></script>
  <script src="/app/user/user.js"></script>
  <script src="/app/profile/updateProfile/updateProfile.js"></script>
  <script src="/app/profile/profile.js"></script>
  <script src="/app/messages/messages.js"></script>
  <script src="/app/tradeworker/Tradeworker.js"></script>
  <script src="/app/home/welcome.js"></script>
  <script src="/app/home/sendMessage/sendMessage.js"></script>  
  <script src="/app.js"></script>
</head>

<body ng-app='myapp'>
  <!-- logo -->
  <div class="container-fluid">
    <div class="navbar-header">
      <img alt="Brand" src="image/logo.gif" class="img-responsive">
    </a>
  </div>
</div>

<!-- menu bar -->
<nav class="navbar navbar-default">

 <div class="navbar-header">

  <a class="navbar-brand" href="#/welcome">Home Page</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

  <ul class="nav navbar-nav">
   <li ng-hide="isLogged" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a>Smith</a></li>
      <li><a>Plumber</a></li>
      <li><a>Painter</a></li>
      <li><a>Carpenter</a></li>
      <li><a>Electricity technician</a></li>
    </ul>
  </li>
  <li ng-hide="isLogged"><a href="#footer">contact us</a></li>
  <li ng-show="isLogged"> <a onclick="openNav()">&#9776; open</a> </li>
</ul>
<form class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" 
    ng-model='searchInput'>
  </div>
</form>
<ul ng-controller = "myappCtrl" class="nav navbar-nav navbar-right">
  <li><a ng-hide="isLogged" href="#/tradeworkerSignup">Sign Up</a></li>
  <li><a ng-hide="isLogged" href="#/signin">Sign In</a></li>
  <li><a ng-click="logOut()" ng-show="isLogged" href="#/welcome">Sign Out</a></li>
</ul>
</div>
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#/profile">Profile</a>
  <a href="#/messages">Messages</a>
</div>




<!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
<div ng-view></div>

<!-- footer -->
<div class="footer">
  <a href="https://www.facebook.com/profile.php?id=100015323349284" target="_blank">
    <img src="image/facebook.png" width="40px" height="40px" /></a>
    <a href="https://www.facebook.com/profile.php?id=100015323349284" target="_blank">
      <img src="image/twitter.png" width="40px" height="40px" /></a>
      <a href="index.html"><img src="image/whatsapp.png" width="40px" height="40px" /></a>
      <h5 id="footer">copy  right &copy Warsha Team</h5>
    </div>

  </body>
  </html>