<br>
<div class="container-fluid well col-md-7 col-md-offset-2" >
  <div class="row">
        <div class="col-xs-2" >
        <img ng-src="image/{{tradeworker.service}}.JPG" class="img-circle" width="300" height="280">
        </div>
        <div class="col-xs-8">
            <h3>{{tradeworker.username}}</h3>
            <h6>Email: {{tradeworker.workeremail}}</h6>
            <h6>Phone Number: {{tradeworker.phone}}</h6>
            <h6>Location: {{tradeworker.place}}</h6>
            <h6>Expertise: {{tradeworker.experiance}}</h6>
        </div>
        <div class="col-xs-2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-click="openUpdate()"><span class="icon-wrench"></span> Update</a></li>
                    <li><a ng-click="deActivate()"><span class="icon-trash"></span> DeActivate</a></li>
                </ul>
            </div>
        </div>
</div>
</div>
<br>