<div class="container">

  <div ng-controller="HomeCtrl" id="img_slides_control_tag">
    <div>
      <carousel interval="slid_myInterval">
        <slide ng-repeat="slide_img in images_slides" active="slide.active">
          <img ng-src="{{slide_img.image_name}}">
          <div class="carousel-caption">
            <h4 style="color: EC407A">Developed by Dentisto team ❤</h4>
          </div>
        </slide>
      </carousel>
    </div>
  </div>

<div class="container">
<div class="col-md-12" id="main"  ng-controller="HomeCtrl">
  <div class="col-sm-6 col-md-4" ng-repeat="worker in tradeworkers |filter: $parent.searchInput" >
    <div class="thumbnail col-sm-11">
      <img ng-src="image/{{worker.service}}.JPG">
      <div class="caption">
        <h4>{{worker.username}}</h4>
        <h5><span class="span">Phone: </span>{{worker.phone}}</h5>
        <p><span class="span">Service: </span> {{worker.service}} </p> 
        <p ng-show='worker.flag'> <span class="span">Place: </span> {{worker.place}}</p>
        <p ng-show='worker.flag'> <span class="span">contact email: </span> {{worker.workeremail}}</p>
        <p ng-show='worker.flag'> <span class="span">experiance: </span> {{worker.experiance}}</p>

        <div>
        <p><button class="col-sm-4 btn btn-primary" role="button" ng-click='details(worker)'>Details</button> </p>
        <button class="col-sm-6 btn btn-success pull-right" ng-click="sendMessage(worker.workeremail)">send message</button>      
        </div>
      </div>
    </div>
  </div> 
</div>
</div>

</div>


